@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap");
.pfont-family {
  font-family: Poppins, sans-serif;
  font-weight: 400;
}
.active {
  border-bottom: 3px solid black;
  border-width: 80%;
  padding-bottom: 0px;
}
.h1 {
  font-family: Playfair Display, sans-serif;
  font-size: 7em;
  font-weight: 400;
  margin-top: 25%;
}


.row .image {
  background-image: url("../images/heading-background.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
img {
  margin-left: 100%;
  transform: translateX(-100%);  
}
.max-height {
    min-height: 818px;
}